.AddToCart button {
  background-color: #222;
  border: 1px solid;
  color: #ffffff;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
  margin-left: 10px;
}
.AddToCart button:hover {
  background-color: #fff;
  color: #000;
}

.AddToCart svg {
  width: 20px;
  height: 20px;
}
