.Search {
  background-color: white;
  margin: auto 50px;
  border-radius: 15px;
  position: relative;
  max-height: 30px;
  white-space: nowrap;
  box-sizing: border-box;
}
.Search input {
  background: none;
  border: 0;
  border-radius: 15px;
  color: #4169E1;;
  height: 30px;
  text-align: center;
  outline: none;
  padding: 0;
}
.Search .NoResults {
  position: absolute;
}
.Search .SearchResults {
  position: absolute;
  right: 400px;
  top: 0;
}
.Search .searcher {
  color: #4169E1;;
  margin: 8px;
}
.Search input::placeholder {
  color: #4169E1;;
}

@media (max-width: 640px) {
  .Search {
    display: none
  }
}