/* Accordion.css */

.accordion-item {
  margin-bottom: 10px;
}

.accordion-title {
  background-color: #FFFFE0;;
  color: #4169E1;;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
}

.accordion-title:hover {
  background-color: #FFFFE0;
}

.accordion-content {
  background-color: #FFFFE0;
  padding: 10px;
  border-left: 2px solid #FFFFE0;
  border-right: 2px solid #FFFFE0;
  border-bottom: 2px solid #FFFFE0;
}
.about-heading{
    color: #FFFFE0;
}